.menu{
    background-color: black;
}


.menu_container {
    color: white;
    max-width: 1400px;
    margin: auto;
}

// IMPORTANT
.nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    top: 0;
}

// DEMO LAYOUT CODE
.nav {
    background: black;

    &__title {
        margin: 0px 30px;
    }

    &__item {
        display: inline-block;
        margin: 0px 30px;
    }
}